<h1>Nombre: <%= campeonDetalle.tipo%></h1>
<h3>tipo: <%=campeonDetalle.tipo %></h3>
	<h3>vida: <%=campeonDetalle.vida %></h3>
	<h3>mana: <%=campeonDetalle.mana %></h3>
	<h3>regMana: <%=campeonDetalle.regMana %></h3>
	<h3>velocidad: <%=campeonDetalle.velocidad %></h3>
	<h3>daño: <%=campeonDetalle.daño %></h3>
	<h3>velAtaque: <%=campeonDetalle.velAtaque %></h3>
	<h3>rango: <%=campeonDetalle.rango %></h3>
	<h3>resMagia: <%=campeonDetalle.resMagia %></h3>

<a href="/campeones/<%=campeonDetalle.id %>"><img src="/images/<%=campeonDetalle.imagen %>" alt="<%=campeonDetalle.id %>"> </a>
	 


  
   
    
    
    
   
    