<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
   <!--Made with love by Mutiullah Samim -->
   
	<!--Bootsrap 4 CDN-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

	<!--Custom styles-->
	<link rel="stylesheet" href="/public/css/style_users.css" />
</head>
<body>

	
	<main role="main">


  
		<div class="album py-5 bg-light">
		  <div class="container">
  
			<div class="row">
			  <% for(let i = 0; i < datos.length; i ++) { %>
			  <div class="col-md-4">
				<div class="card mb-4 box-shadow">
				  <a href="/users/campeones/<%=datos[i].id %>"><img class="img-thumbnail" src="/images/<%=datos[i].imagen %>" alt="<%=datos[i].id %>"> </a>
				  <div class="card-body">
					<h3><%=datos[i].nombre %></h3>
					<p class="card-text">Estadisticas: </p> 
					<ul>
					  <li>tipo: <%=datos[i].tipo %></li>
					  <li>vida: <%=datos[i].vida %></li>
					  <li>mana: <%=datos[i].apellido %></li>
					  <li>regMana: <%=datos[i].regMana %></li>
					  <li>velocidad: <%=datos[i].velocidad %></li>
					  <li>daño: <%=datos[i].daño %></li>
					  <li>velAtaque: <%=datos[i].velAtaque %></li>
					  <li>rango: <%=datos[i].rango %></li>
					  <li>resMagia: <%=datos[i].resMagia %></li>
					</ul>
					<div class="d-flex justify-content-between align-items-center">
					  <div class="btn-group">
						<button type="button" class="btn btn-sm btn-outline-secondary">View</button>
						<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
					  </div>
					  <small class="text-muted">9 mins</small>
					</div>
				  </div>
				</div>
			  </div>
			  <% } %>
			</div>
		  </div>
		</div>
  
	  </main>
</body>
</html>

