<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
   <!--Made with love by Mutiullah Samim -->
   
	<!--Bootsrap 4 CDN-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

	<!--Custom styles-->
	<link rel="stylesheet" href="/public/css/style_users.css" />
</head>
<body>


<% for(let i = 0; i < datos.length; i ++) { %>
	<h1>Nombre: <%=datos[i].nombre %></h1>
	
	<h3>tipo: <%=datos[i].tipo %></h3>
	<h3>vida: <%=datos[i].vida %></h3>
	<h3>mana: <%=datos[i].apellido %></h3>
	<h3>regMana: <%=datos[i].regMana %></h3>
	<h3>velocidad: <%=datos[i].velocidad %></h3>
	<h3>daño: <%=datos[i].daño %></h3>
	<h3>velAtaque: <%=datos[i].velAtaque %></h3>
	<h3>rango: <%=datos[i].rango %></h3>
	<h3>resMagia: <%=datos[i].resMagia %></h3>

<a href="/users/campeones/<%=datos[i].id %>"><img src="/images/<%=datos[i].imagen %>" alt="<%=datos[i].id %>"> </a>
	 
<% } %>
</body>
</html>

