<!doctype html>
<html lang="en">
  <%- include('../partials/head') %>
  <title>Registrate</title>
  </head>

  <body>
    <%- include('../partials/header') %>
    <div class="container my-5">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <h3>Formulario de Registro</h3>
          <form method="post" action="/users/register" enctype="multipart/form-data">
            <div class="row justify-content-center">
              <div class="col-md-6 my-1">
                <div class="form-group">
                  <label for="nombre"><strong>Nombre completo:</strong></label>
                  <input type="text" name="nombre" id="nombre" class="form-control <%= locals.errors && errors.nombre ? 'is-invalid' : null %>" placeholder="Nombre completo"
                    value="<%= locals.old && old.nombre ? old.nombre : '' %>"><br>
                  <% if (locals.errors && errors.nombre) { %>
                    <div class="text-danger">
                      <%= errors.nombre.msg %>
                    </div>
                  <% } %>
                </div>
              </div>
              <div class="col-md-6 my-1">
                <div class="form-group">
                  <label for=""><strong>Nombre de usuario:</strong></label>
                  <input type="text" name="alias" id="alias" class="form-control <%= locals.errors && errors.alias ? 'is-invalid' : null %>" placeholder="Nombre de usuario"
                    value="<%= locals.old && old.alias ? old.alias : ''%>"><br>
                  <% if (locals.errors && errors.alias) { %>
                    <div class="text-danger">
                      <%= errors.alias.msg %>
                    </div>
                  <% } %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 my-1">
                <div class="form-group">
                  <label for=""><strong>Email:</strong></label>
                  <input type="email" name="email" id="email" class="form-control <%= locals.errors && errors.email ? 'is-invalid' : null %>" placeholder="email"
                  value="<%= locals.old && old.email ? old.email : ''%>"><br>
                  <% if (locals.errors && errors.email) { %>
                    <div class="text-danger">
                      <%= errors.email.msg %>
                    </div>
                  <% } %>
                </div>
              </div>
              <div class="col-md-6 my-1">
                <div class="form-group">
                  <label for=""><strong>Password:</strong></label>
                  <input type="password" name="password" id="password" class="form-control <%= locals.errors && errors.password ? 'is-invalid' : null %>" placeholder="Minimo 8 caracteres"><br>
                  <% if (locals.errors && errors.password) { %>
                    <div class="text-danger">
                      <%= errors.password.msg %>
                    </div>
                  <% } %><br>
                </div>
              </div>
              <input type="file" name="avatar" id="avatar">
              <% if (locals.errors && errors.avatar) { %>
                <div class="text-danger">
                  <%= errors.avatar.msg %>
                </div>
              <% } %>
              <input type="submit" value="Registrate" class="btn btn-primary">
            </div>
          </form>
        </div>
      </div>
    </div>
    <%- include('../partials/footer') %>
  </body>

</html>